body{
    background-color: #1A1818;
}
.ellipse {
    background-color: #2d6a5f;
    border-radius: 50px;
    box-shadow: 0px 0px 13.8px #adf1e533, 0px 0px 27.6px #adf1e533, 0px 0px 96.6px #adf1e533, 0px 0px 193.2px #145b5233,
      0px 0px 331.2px #145b5233, 0px 0px 579.6px #145b5233;
    right: 480px;
    position: absolute;
    top: 200px;
    width: clamp(8px, 80px, 80px);
    height: clamp(8px, 80px, 80px);
}
.ellipse-2 {
    background-color: #665723;
    border-radius: 50px;
    box-shadow: 0px 0px 13.8px #adf1e533, 0px 0px 27.6px #adf1e533, 0px 0px 96.6px #adf1e533, 0px 0px 193.2px #145b5233,
      0px 0px 331.2px #145b5233, 0px 0px 579.6px #145b5233;
    height: 120px;
    width: 120px;
    position: absolute;
    left: 120px;
    top: 150px;
}
.ellipse-3 {
    background-color: #2d6a5f;
    border-radius: 50%;
    box-shadow: 0px 0px 13.8px #adf1e533, 0px 0px 27.6px #adf1e533, 0px 0px 96.6px #adf1e533, 0px 0px 193.2px #145b5233,
      0px 0px 331.2px #145b5233, 0px 0px 579.6px #145b5233;
    height: 70px;
    width: 70px;
    left: 280px;
    position: absolute;
    top:695px;
}
.ellipse-4 {
    background-color: #e7f68b;
    border-radius: 11.5px;
    box-shadow: 0px 0px 2.76px #e7f68c, 0px 0px 5.52px #e7f68c, 0px 0px 19.32px #e7f68c, 0px 0px 38.64px #e7f68c,
      0px 0px 66.24px #e7f68c, 0px 0px 115.92px #e7f68c;
    height: 23px;
    left: 638px;
    position: absolute;
    top: 834px;
    width: 23px;
}
.ellipse-5 {
    background-color: #9d3f92;
    border-radius: 13.5px;
    box-shadow: 0px 0px 13.8px #adf1e533, 0px 0px 27.6px #adf1e533, 0px 0px 96.6px #adf1e533, 0px 0px 193.2px #145b5233,
      0px 0px 331.2px #145b5233, 0px 0px 579.6px #145b5233;
    height: 27px;
    left: 24px;
    position: absolute;
    top: 998px;
    width: 27px;
}
.ellipse-6 {
    background-color: #893c81;
    border-radius: 27.5px;
    box-shadow: 0px 0px 13.8px #adf1e533, 0px 0px 27.6px #adf1e533, 0px 0px 96.6px #adf1e533, 0px 0px 193.2px #145b5233,
      0px 0px 331.2px #145b5233, 0px 0px 579.6px #145b5233;
    height: 55px;
    left: 409px;
    position: absolute;
    top: 215px;
    width: 55px;
}
.ellipse-7 {
    background-color: #6df4ec;
    border-radius: 16.5px;
    box-shadow: 0px 0px 6.36px #6ef4ec, 0px 0px 12.72px #6ef4ec, 0px 0px 44.52px #6ef4ec, 0px 0px 89.04px #6ef4ec,
      0px 0px 152.64px #6ef4ec, 0px 0px 267.12px #6ef4ec;
    height: 33px;
    left: 374px;
    position: absolute;
    top: 1200px;
    width: 33px;
}
.personInfo{
    padding: 150px;
    padding-inline: 40px;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}
.contenedorImagen{
    display: flex;
    flex-direction: row;
}
.imgPerson{
    text-align: right;
    z-index: 0;
}
.circleOverlay {
    position: absolute;
    top: 0;
    margin-top: 160px;
    margin-left: 120px;
    width: 300px;
    height: 300px;
    background-color: #adf1e5; /* Color del círculo */
    border-radius: 50%;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    box-shadow: 0px 0px 13.8px #adf1e533, 0px 0px 27.6px #adf1e533, 0px 0px 96.6px #adf1e533, 0px 0px 193.2px #145b5233,
    0px 0px 331.2px #145b5233, 0px 0px 579.6px #145b5233;
    z-index: -99;
}
.imagenPrincipal{
    resize: cover;
    max-width: 540px;
}
.textPerson{
    color: #CECECD;
    margin-top: 50px;
}
.hola{
    color: #AF75A9;
    font-size: 40px;
    font-weight: 400;
    font-family: "Montserrat Alternates", Helvetica;
    margin-bottom: -5px;
}
.soy{
    color: #A2ECE3;
    font-size: 30px;
    font-weight: 300;
    font-family: "Montserrat", Helvetica;
    margin-bottom: -15px;
}
.programador{
    color: #8296FF;
    font-size: 60px;
    font-weight: 600;
    font-family: "Montserrat Alternates", Helvetica;
    margin-bottom: -50px;
    margin-left: -6px;
}
.front-end{
    color: #E2C049;
    margin-top: 20px;
    font-size: 95px;
    font-weight: 700;
    font-family: "Montserrat", Helvetica;
    margin-left: -10px;
}
.banner{
    height: 200px;
    align-self: center;
    background-color: rgba(159, 159, 159, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    border-radius: 8px;
    display: flex;
}
.imgPerson::before{
    background-color: #A2ECE3;
}
.horas{
    padding-left: 50px;
    line-height: 2.9em;
}
.cert{
    padding-left: 50px;
    line-height: 2.9em;
}
.text-titulo{
    color: #D2B9B9;
    font-size: 14px;
    font-weight: 400;
    font-family: "Montserrat Alternates", Helvetica;
}
.numeros{
    color: #D2B9B9;
    font-size: 90px;
    font-weight: 700;
    font-family: "Montserrat", Helvetica;
}
.slogan{
    color: #D2B9B9;
    font-size: 35px;
    font-weight: 600;
    font-family: "Montserrat", Helvetica;
}
.text-imagnar{
    font-family: 'Aquate Script PERSONAL USE ONLY', sans-serif;
    font-weight: 400;
    font-size: 43px;
    color: #2CBDB4;
}
.text-programar{
    font-weight: 800;
    color: #D9AA31;
    font-style: italic;
    font-weight: 400;
    text-transform: capitalize;
}
.circleOverlay:hover{
    background-color: #2CBDB4;
}
.imgPerson:hover .circleOverlay{
    background-color: #2CBDB4;
}
.proyecto-sec{
    margin-top: 50px;
}
.proyecto-titulo{
    font-family: 'Montserrat Alternates';
    font-size: 14px;
    font-weight: 500;
    color: #E2C049;
}
.seccionProyecto{
    color: #D2B9B9;
    font-size: 64px;
    font-family: 'Montserrat Alternates';
    line-height: 1.2em;
    margin-top: 20px;
}
.info-proyecto{
    color: #D2B9B9;
    font-family: 'Montserrat';
    font-size: 24px;
    line-height: 1em;
    margin-top: 40px;
}
.btn-ver-mas{
    color: #D2B9B9;
    font-family: 'Montserrat Alternates';
    font-weight: 600;
    margin-top: -30px;
}
.flecha{
    transform: rotate(-90deg);
    filter: invert(60%) grayscale(100%);
    max-width: 120px;
    resize: contain;
}
.proyecto-square{
    background-color: #8296FF;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 10px;
    width: 290px;
    height: 200px;
}

/*Para vista mobile*/
@media (max-width: 768px) {
    .banner {
        height: 630px; /* Ajusta la altura según tus necesidades para dispositivos móviles */
    }
    .horas{
        margin-bottom: 60px;
        margin-left: 70px;
    }
    .cert{
        margin-bottom: 60px;
        margin-left: 70px;
    }
    .slogan{
        margin-inline: 40px;
        line-height: 1em;
        font-size: 50px;
        font-weight: 500;
    }
    .imgPerson{
        display: none;
    }
    .textPerson{
        margin-top: -50px;
    }
    .text-imagnar{
        font-size: 55px;
    }
    .hola{
        font-size: 50px;
    }
    .soy{
        font-size: 35px;
    }
    .programador{
        font-size: 50px;
    }
    .front-end{
        font-size: 71px;
    }
}